*{
    /* border: black solid 2px;*/
     background-color:rgb(44, 44, 44);
     
     cursor: 
     url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧿</text></svg>") 16 0, auto;
    
 }


 .BG {
     height: 95vh;
     display: grid;
     grid-template-rows: 1fr 6fr;
     grid-template-columns: 1fr 5fr;

 }

 .header {

     border: 2px whitesmoke solid;
     border-radius: 10px;
    left: 0;
     right: 0;
     display: grid;
     grid-template-columns: 2fr 1fr 4fr;
     grid-column: 1/3;
     margin: 5px 5px;
 }


 .head {
    /* border: red solid 2px;*/
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 15px;


 }

 .innhead {
     
     margin: auto auto;
     height: 30%;
     background: rgb(247,220,185);
background: linear-gradient(90deg, rgb(142, 142, 142) 0%, rgba(0,0,0,0) 100%);
padding-left: 5px;
color: white;
 }

 .innhead:hover
 {
     color: black;
 }

 #profinnhead {
    /* border: orange solid 2px;
     background-color: orange;*/
     display: flex;
     justify-content: center;
 }

 .underblocks {
     /*border: green solid 2px;*/
     /*border-radius: 20px;*/
     margin: 10px;
     padding: 8px;
     overflow-y: auto;
     max-height: 100vh;
     background-color: rgba(255, 255, 255, 0.155);
     border-top: whitesmoke solid 2px;
     border-bottom: whitesmoke solid 2px;
     color: white;
     min-width: 100px;

 }

 .AboutMe
 {

     /*border: green solid 2px;*/
     /*border-radius: 20px;*/
     margin: 10px;
     padding: 8px;
     max-height: 100vh;
     background-color: rgba(255, 255, 255, 0.155);
     border-top: whitesmoke solid 2px;
     border-bottom: whitesmoke solid 2px;
     color: white;

 
 }


 .logo {
     height: 80px;
     width: 100%;
     object-fit: contain;
     padding: auto;
   /*  background-color: gray;*/
 }

 .profilefic {
     aspect-ratio: 1 / 1;
     width: 95%;
     max-height: 150px;
     max-width: 150px;
     object-fit: contain;
     padding: auto;
     background-color: gray;
     margin-top: 20%;
     border-radius: 10px;
     border: white 3px solid;
 }

 #profile {
     background-color: rgba(255, 255, 255, 0.211);
     display: block;
     text-align: center;
     padding: 0px 10%;

 }


 .Bloglist 
 {
 background-color: rgba(255, 255, 255, 0);
 padding: 5px;
 }
 .Bloglist *
 {
 background-color: rgba(255, 255, 255, 0);
 }

 .Bloglist>li
 { 
     border-bottom: white 1px solid;
 }


 .Innerli{
     background-color: rgba(255, 255, 255, 0);
     color: white;
     margin: 2px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }


 .Innerli:hover
 {
     color: rgb(153, 255, 0);
 }
 summary:hover
 {
    color: yellow;
 }

 .Innerli::marker
 {
     content: '';
 }



 .profileP
 {
     font-size: smaller;
     color :rgba(255, 255, 255, 0.632);
     margin: 0px 0px;
      margin-bottom: 10%;
     background-color: rgba(255, 255, 255, 0);
     
 }

 .contactbtn
 {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 2px;
    padding-right: 0;
    border: 0px;
 }

 .contactbtn *
 {
    background-color: rgba(255, 255, 255, 0);
    width: 18px;
 }



 