/*
<form action="https://formspree.io/f/mdoqvwwy" method="POST">
            <label>
                Your email:
                <input type="email" name="email">
            </label>
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit">Send</button>
        </form>
*/

form
{
    display: flex;
    flex-direction: column;
    border: white solid 2px;
    max-width: 500px;
    padding: 20px;
    
    align-items: center;
}


input, textarea{
    background-color: rgba(255, 255, 255, 0.152);
    border: white 1px solid;
    vertical-align:middle;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    max-width: 150px;
    min-width: 150px;
}


button
{

    background-color: rgba(255, 255, 255, 0.3);
    border: white 2px soild;
    border-radius: 15px;
    margin: 10px;
}